.dropdownClicker {
    cursor: pointer;
    padding: 10px;
    background-color: #494947;
    border-radius: 2px;
    /* margin: 5px; */
    text-align: left;
}

.dropdown {
    padding: 10px;
    text-align: left;
    overflow-wrap: break-word;
    width: 100%;
}

.dropdownContainer {
    width: 100%;
    overflow-wrap: break-word;
}