.navContainer h1.glitch::before, .navContainer h1.glitch::after {
    margin-top: 5%;
    height: 20px;
}

.navContainer {
    background-color: #282c34;
    text-align: center;
    color: #ee82ee;
    // position: absolute;
    left: 50%;
    // transform: translate(-50%);
    margin-top: -22px;
}

.glitch:hover {
    font-weight: bold;
    color: #ffffff;
}

.navName {
    color: #ee82ee;
    text-decoration: none;
    animation-name: flicker-1;
    animation-duration: 1s;
    animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes flicker-1{
    0% {text-shadow: 0px 0px #0f8100;}
    33% {text-shadow: 0px 5px #ff5dff;}
    // 50% {text-shadow: 0px 0px #0f8100;}
    66% {text-shadow: 0px -5px #ff5dff;}
    100% {text-shadow: 0px 0px #0f8100;}
  }

.navName:hover {
    font-weight: bold;
    color: #ffffff;
}

.navLink {
    margin-top: 20px;
    color: #ee82ee;
    text-decoration: none;
    padding: 10px;
    border-radius: 2px;
    display: inline-block;
}

.navLink:hover {
    background-color: #282c34;
    color: #D3D3D3;
    animation-name: rise;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    font-weight: bold;
    display: inline-block;
}

.navLink:active {
    animation-name: fall;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

@keyframes rise {
    from {
        box-shadow: 0px 0px#D3D3D3;
        transform: translate(0px, 0px);
    }
    to {
        box-shadow: 5px 5px #D3D3D3;
        transform: translate(-5px, -5px);
    }
}

@keyframes fall {
    from {
        box-shadow: 5px 5px #D3D3D3;
        transform: translate(-5px, -5px);
    }
    to {
        box-shadow: 0px 0px #D3D3D3;
        transform: translate(0px, 0px);
    }
}