.opening {
    background-image: url("code_example.gif");
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #282c34;
    color: black;
    text-decoration: none;
    justify-content: center;
    display: flex;
    position: absolute;
    margin-top: -120px;
}

.opening[fade='1'] {
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes fadeOut {
    from {opacity: 100%;}
    to {opacity: 0%;}
}

.opening h1.glow {
	margin-top: 25%;
    color: violet;
	text-decoration: none;
	transform: translate(0%, 0%);
	animation-name: fadeIn;
    animation-duration: 1s;
    background-color: #282c34;
    height: 60px;
    padding: 10px;
    border-radius: 5px;
}

.opening h1.glow:hover {
    color: #ffffff;
}

@keyframes fadeIn {
    from {opacity: 0%;}
    to {opacity: 100%;}
}