.resumeContainer {
    width: 75%;
    background-color: #5f72a5;
    border-radius: 5px;
    margin: 10px;
}

.leadershipContainer {
    font-size: 20px;
}

.leadershipHeader {
    display: flex;
    justify-content: space-between;
}

.objective {
    font-size: 20px;
}

.declaration {
    color: #01018a;
}

.variableName {
    color: #01afa1;
}

.literal {
    color: #b17300;
}