.blockCardList {
    font-size: 20px;
    color: #FCE3CB;
    /* background-color: #494947; */
    padding: 10px;
    border-radius: 3px;
    text-align: left;
    font-weight: bold;
}

.blockCardList:hover {
    background-color: #7494EA;
    color: #494947;
}

.blockCardList li {
    display: inline-block;
    width: 33%;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .blockCardList li {
        display: grid;
        padding-top: 5px;
        text-align: left;
    }
}