.resumeContainer {
    max-width: 100%;
    width: 90%;
    background-color: #7494EA;
}

.leadershipContainer * {
    width: 95%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.leadershipContainer h3 {
    text-decoration: underline;
}

.resumeDetails {
    font-size: 20px;
}

.leadershipHeader {
    max-width: 100%;
    display: flex;
}

.dates {
    text-align: right;
}

.objective {
    font-size: 20px;
    background-color: #494947;
    padding: 20px;
    border-radius: 5px;
}

.literal {
    color: #EE6C4D;
}

@media screen and (max-width: 1000px) {
    .resumeContainer {
        max-width: 100%;
        width: 100%;
    }

    .leadershipContainer {
        width: 100%;
    }

    .leadershipHeader {
        display: inline;
    }

    .dates {
        text-align: left;
        text-decoration: none;
    }
}