.homeContainer {
    align-content: center;
}

.summary { 
    font-size: 20px;
    width: 75%;
    text-align: left;
    margin-left: 13%;
}

.learn {
    text-decoration: none;
    color: #ffffff;
    position: relative;
}

.learn:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    transition: all .3s ease-in-out;
}

.learn:hover:before {
    visibility: visible;
    width: 100%;
}

hr {
    width: 50%;
}

.markdown {
    margin-top: 20px;
    background-color: #494947;
    padding: 20px;
}