.markdown {
    width: 75%;
    text-align: left;
    font-size: 20px;
}

@media only screen and (max-device-width: 480px)
{
    .markdown {
        width: 80%;
        margin-bottom: 10%;
    }
}

.markdown h1, h2{
    text-align: center;
}

