.cardContainer {
    /* background-color: #7b7f86; */
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    width: 50%;
    justify-content: center;
    font-size: 25px;
}

.cardContainer:hover {
    background-color: white;
    color: #494947;
    border-width: 10px;
    border-color: #494947;
}

.thumbnailContainer {
    margin: auto;
}

.thumbnail {
    height: 135px;
    justify-content: center;
}

.thumbnailMobile {
    height: 75px;
    justify-content: center;
}

.cardDetails {
    width: 100%;
    text-align: center;
}

.languages {
    display: flex;
    justify-content: left;
}

.languages * {
    padding: 5px;
    margin-left: 5px;
    background-color: #FCE3CB;
    color: #494947;
    border-radius: 3px;
}

@media screen and (max-width: 1000px) {
    .cardContainer {
        width: 100%;
    }
}

