.App {
  text-align: center;
  animation-name: fadeIn;
  animation-duration: 2;
  background-image: 'seamless.jpg';
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
  /* width: 100%; */
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.App-link {
  color: #61dafb;
}

.md {
  text-decoration: none;
  color: #ffffff;
  position: relative;
}

.md:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all .3s ease-in-out;
}

.md:hover:before {
  visibility: visible;
  width: 100%;
}
